{% extends "base.html" %}
{% load static %}
<!-- Subtitle -->
{% block subtitle %} Home {% endblock subtitle %}

<!-- Content -->
{% block content %}
<header>
  <h1>
      歡迎來到<b>StarChaser</b>
    <br>
    今日就展開你的追星之旅 ⭐️
  </h1>
  <p>
    平凡的學生追尋不平凡的成績👨‍🎓
  </p>
</header>
<section class="tiles">
  {% for tag in tags %}
    <article class="style{{ forloop.counter }}">
      <span class="image">
        <img src="{% static 'images/pic02.jpg' %}" alt="blog-cover" />
      </span>
      <a href="{% url 'posts:post_list' tag_slug=tag %}">
        <h2>{{ tag }}</h2>
      </a>
    </article>
  {% endfor %}
</section>


{% endblock content %}
