{% extends "base.html" %}
{% load static %}
<!-- Subtitle -->
{% block subtitle %} Home {% endblock subtitle %}

<!-- Content -->
{% block content %}
<section id="banner">
  <h2>StarChaser</h2>
  <p>
    為你而設的補習平台
  </p>
  <ul class="actions special stacked">
    <li>
      <a href="" class="button primary">
        加入我們
      </a>
    </li>
    <li>
      <a href="" class="button">
        了解更多
      </a>
    </li>
    <li>
      <a href="" class="button">
        學習資源
      </a>
    </li>
    <li>
      <a href="" class="button">
        好文分享
      </a>
    </li>
  </ul>
</section>

<section id="main" class="container">
  <section class="box special features">
    <div class="features-row">
      <section>
        <span class="icon solid major fa-bolt accent2">
        </span>
         <h3>高效配對</h3>
          <p>
            在 StarChaser平台你可以通過提供公開透明的方式來尋找你的學生，或是尋找你的導師。
          </p>
      </section>
      <section>
        <span class="icon solid major fa-bolt accent3"></span>
          <h3>專人核實</h3>
            <p>
              在 StarChaser平台，我們會對每一位使用者進行基本核實，確保你的資料是真實的。
            </p>
      </section>
    </div>
    <div class="features-row">
      <section>
        <span class="icon solid major fa-cloud accent4"></span>
        <h3>全程線上辦妥</h3>
        <p>
            通過StarChaser平台你可以直接在線上獲取最新補習個案資訊，並在線上與學生或導師聯絡並安排上堂細節。
        </p>
      </section>
      <section>
        <span class="icon solid major fa-lock accent5"></span>
        <h3>安全可靠</h3>
          <p>
            通過StarChaser平台你的個人資料完全由你自己掌控，我們不會將你的資料提供給任何第三方，而你亦可以隨時選擇公開或隱藏你的聯絡資料。
          </p>
      </section>
      
    </div>
  </section>
</section>


{% endblock content %}
