{% extends "base.html" %}
{% load static %}
<!-- Subtitle -->
{% block subtitle %} Home {% endblock subtitle %}

<!-- CSS -->
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock styles %}

<!-- Content -->
{% block content %}
<!-- Home Hero -->
<div class="hero">
    <div class="container">
        <div class="left">
          <h1 class="h1">
            Welcome to <b>StarChaser</b>.
            <br>Your guide to DSE success
          </h1>
          <p class="h3">
            Ordinary students aiming for extraordinary results!
          </p>
          <div class="btn-group">
            <a href="#" class="btn btn-primary">Contact Me</a>
            <a href="#" class="btn btn-secondary">About Me</a>
          </div>
        </div>
        <div class="right">
          <div class="pattern-bg"></div>
          <div class="img-box">
            <img src="./assets/images/hero.png" alt="Placeholder for now" class="hero-img">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
          </div>
        </div>
        
    </div>
</div>
{% endblock content %}
