{% extends "base.html" %}
{% load static %}
<!-- Subtitle -->
{% block subtitle %} Home {% endblock subtitle %}

<!-- Content -->
{% block content %}

<section id="main" class="container">
  <section class="box special features">
    <div class="features-row">
      <section>
        <span class="icon solid major fa-bolt accent2">
        </span>
         <h3>Success</h3>
          <p>
            Success
          </p>
      </section>
      <section>
        <span class="icon solid major fa-bolt accent3"></span>
          <h3>Successs</h3>
            <p>
              success
            </p>
      </section>
    </div>
  </section>
</section>


{% endblock content %}
