{% extends "base.html" %}
{% load static %}
<!-- Subtitle -->
{% block subtitle %} Home {% endblock subtitle %}

<!-- Content -->
{% block content %}
<header>
  <h1>
    Articles for <b>{{tag}}</b>
  </h1>
</header>
<section class="inner">
{% if not posts %}
    <section>
        <h2>敬請期待😚...</h2>
    </section>
{% else %}
    {% for post in posts %}
      <section>
        <h2>{{ post.title }}</h2>
        <p>
            {{ post.body|truncatewords:20 }}
        </p>
        <a href="{{ post.get_absolute_url }}" class="button primary">閱讀更多</a>
      </section>
      <hr>
    {% endfor %}
{% endif %}

</section>


{% endblock content %}