{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}
<!-- Subtitle -->
{% block subtitle %} Home {% endblock subtitle %}

<!-- Content -->
{% block content %}
<h1>{{ post.title }}</h1>
<span class="image main">
  <img src="{% static 'images/pic13.jpg' %} " alt="" />
</span>

<span>
  <b>{{ post.author }}</b>
</span>

<p>
  {{ post.updated }}
</p>

<p>
  {{ post.body | markdown | safe }}
</p>

{% if new_comment %}
  <h3>Your comment has been added</h3>
{% else %}
  <h3>Add a comment</h3>
  <form method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="Add Comment" />
  </form>
{% endif %}

{% endblock content %}
