{% extends "base.html" %}
{% load static %}
<!-- Subtitle -->
{% block subtitle %} 補習個案 {% endblock subtitle %}

<!-- Content -->
{% block content %}

<section id="main" class="container">
  <h2>Star Board ⭐️</h2>
  <section class="box" id="desktop-only">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>
              會員
            </th>
            <th>
              科目 
            </th>
            <th>
              簡介
            </th>
            <th>
                地點
            </th>
            <th>
              費用
            </th>
            <th>
              傳送門
            </th>
          </tr>
        </thead>
        <tbody>
          {% for case in cases %}
            <tr>
              <td>
                {{ case.user.username }} ({{ case.get_role_display }})
              </td>
              <td>
                {{ case.get_subject_display }}
              </td>
              <td>
                {{ case.status }}
              </td>
              <td>
                {{ case.location }}
              </td>
              <td>
                {{ case.price }}
              </td>
              <td>
                {% if is_starmember == True %} 
                  <a href="{% url 'case_detail' slug=case.id %}" class="button medium">查看</a>   
                {% else %}
                   <a href="{% url 'case_detail' slug=case.id %}" class="button disabled">查看</a>        
                {% endif %}
              </td>
              {% if is_starmember == False %} 
                <td>
                    <a href="{% url 'payment' %}" class="button ml-3">升級查看</a> 
                </td>
              {% endif %}
                
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  <div class="row p-1" id="mobile-only">
      {% for case in cases %}
      <div class="col-12-narrower">
        <section class="box special">
          <h3>{{ case.user.username }}({{ case.get_role_display }})</h3>
          <h4> 地點： {{ case.location }} {{ case.get_mode_display }}</h4>
          <h4> 科目： {{ case.get_subject_display }}</h4>
          <h4> 簡介： {{ case.status }}</h4>
          <h4> 費用： {{ case.price }}</h4>
          <ul class="actions special">
            {% if is_starmember == True %} 
                <li><a href="{% url 'case_detail' slug=case.id %}" class="button alt">查看</a></li>     
            {% else %}
                <li><a href="{% url 'case_detail' slug=case.id %}" class="button alt disabled">立即升級查看</a></li>
                <li><a href="{% url 'payment' %}" class="button alt">立即升級</a></li>       
            {% endif %}

          </ul>
        </section>
      </div>
      {% endfor %}
  </div>
</section>


{% endblock content %}
