{% extends "base.html" %}
{% load static %}
<!-- Subtitle -->
{% block subtitle %} 補習個案 {% endblock subtitle %}

<!-- Content -->
{% block content %}

<section id="main" class="container">
  <h2>補習個案</h2>
  <section class="box">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>
              個案
            </th>
            <th>
              科目 
            </th>
            <th>
              簡介
            </th>
            <th>
                地點
            </th>
            <th>
              費用
            </th>
            <th>
              聯絡資訊
            </th>
          </tr>
        </thead>
        <tbody>
          {% for case in cases %}
            <tr>
              <td>
                {{ case.get_gender_display }}{{ case.get_role_display }}
              </td>
              <td>
                {{ case.get_subject_display }}
              </td>
              <td>
                {{ case.status }}
              </td>
              <td>
                {{ case.location }}
              </td>
              <td>
                {{ case.price }}
              </td>
              <td>
                <a href="{% url 'case_detail' slug=case.id %}" class="button special small">查看詳情</a>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</section>


{% endblock content %}
