{% extends "base.html" %}
{% load static %}
<!-- Subtitle -->
{% block subtitle %} 守則及條款 {% endblock subtitle %}

<!-- Content -->
{% block content %}

<section id="main" class="container">
  <div class="p-1">
      <h2>⭐️ 守則及條款 ⭐️</h2>
      <section class="box">
        <div class="row">
          <div class="col-12-narrower">
            <p>守則</p>
            <p>1 <span>使用本平台服務時，需尊重他人，嚴禁人生攻擊</span></p>
            <p>2 <span>在非允許之下，嚴禁打擾或騷擾學生和導師</span></p>
            <p>3 <span>在得悉情況之下，導師和學生須準時，保持良好溝通</span></p>
            <p>4 <span>違規者將會從平台上移除，且已交的款項將不會退還</span></p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12-narrower">
                <p>條款</p>
                <p>1 <span>成為會員需年滿16歲</span></p>
                <p>2 <span>個人資料只會於有需要時，有限度公開</span></p>
                <p>3 <span>個人資料均由會員負責保管</span></p>
                <p>4 <span>本平台不會對會員以外人士透露個人資料，除個別情況</span></p>
                <p>5 <span>會員使用平台時須遵守平台規則及一般法律</span></p>
                <p>6 <span>會員升級24小時後不可以要求退款</span></p>
            </div>
        </div>
      </section>
  </div>

</section>


{% endblock content %}