{% extends "base.html" %}
{% load static %}
<!-- Subtitle -->
{% block subtitle %} 守則及條款 {% endblock subtitle %}

<!-- Content -->
{% block content %}

<section id="main" class="container">
  <div class="p-1">
      <h2>⭐️ 守則及條款 ⭐️</h2>
      <section class="box">
        <div class="row">
          <div class="col-12-narrower">
            <p>守則</p>
            <p>1</p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12-narrower">
                <p>條款</p>
                <p>1</p>
            </div>
        </div>
      </section>
  </div>

</section>


{% endblock content %}