{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/output.css" %}'/>
      <link rel="icon" type="image/svg+xml" href='{% static "images/new-icon.png" %}' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <title>DSE StarChaser {% block subtitle %} {% endblock %}</title>
    
</head>

<body class="bg-gray-200 font-sans leading-normal tracking-normal">
  <!--Header-->
	<div class="w-full m-0 p-0 bg-cover bg-bottom" style="">
			<div class="container max-w-4xl mx-auto pt-16 md:pt-32 text-center break-normal">
				<!--Title-->
					<p class="text-gray-800 font-extrabold text-3xl md:text-5xl">
						DSE StarChaser   
					</p>
					<p class="text-xl md:text-2xl text-gray-600">你的線上學習伙伴</p>
			</div>
		</div>



</main>
</body>
</html>