{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/output.css" %}'/>
      <link rel="icon" type="image/svg+xml" href='{% static "images/new-icon.png" %}' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <title>StarChaser {% block subtitle %} {% endblock %}</title>
    
</head>

<body class="bg-zinc-900 text-amber-500 flex flex-col text-xl font-mono overflow-x-hidden">
    <main class="max-w-4xl m-auto p-3">
    <section class="grid place-items-center text-center pt-8 animate-fade-in-right">
        <img src='{% static "images/default.png" %}' alt="StarChaser Icon" class="rounded-full w-32 h-32 my-3"> 
        <h1 class="text-xl font-semibold mb-6 mt-3">DSE StarChaser</h1>
        <h2 class="text-base">你的線上英文DSE學習伙伴</h2>
    </section>
 
    {% block content %} {% endblock %}


</main>
</body>
</html>