{% extends "base/notes_main_base.html" %}

{% block notes %}

<section class="container mt-4 mx-auto px-2">
    <h1 class="text-lg font-semibold text-amber-400 underline">熱門筆記</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-4">
      <div class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-md transform hover:-translate-y-1 transition-all duration-200">
        <div class="m-3">
          <h2 class="text-lg mb-2 text-amber-500">Tenses 筆記
         <span class="text-sm text-zinc-800 font-mono bg-amber-200 inline rounded-full px-2 align-top float-right animate-pulse">Tag</span></h2>
        <p class="font-semibold font-mono text-sm text-gray-200 hover:text-amber-200 transition-all duration-200 mt-3">
            一份筆記幫你一次過學齊 DSE 要知道的7種重要時態 ‼️ 搞唔清楚作文應該用咩 tenses , 呢份筆記可以幫到你🤩
        </p>
        </div>
      </div>
    
      <div class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-md transform hover:-translate-y-1 transition-all duration-200">
        <div class="m-3">
          <h2 class="text-lg mb-2 text-amber-500">Tenses 筆記
         <span class="text-sm text-zinc-800 font-mono bg-amber-200 inline rounded-full px-2 align-top float-right animate-pulse">Tag</span></h2>
        <p class="font-semibold font-mono text-sm text-gray-200 hover:text-amber-200 transition-all duration-200 mt-3">
            一份筆記幫你一次過學齊 DSE 要知道的7種重要時態 ‼️ 搞唔清楚作文應該用咩 tenses , 呢份筆記可以幫到你🤩
        </p>
        </div>
      </div>
    
      <div class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-md transform hover:-translate-y-1 transition-all duration-200">
        <div class="m-3">
          <h2 class="text-lg mb-2 text-amber-500">Tenses 筆記
         <span class="text-sm text-zinc-800 font-mono bg-amber-200 inline rounded-full px-2 align-top float-right animate-pulse">Tag</span></h2>
        <p class="font-semibold font-mono text-sm text-gray-200 hover:text-amber-200 transition-all duration-200 mt-3">
            一份筆記幫你一次過學齊 DSE 要知道的7種重要時態 ‼️ 呢份筆記可以幫到你🤩
        </p>
        </div>
      </div>
    
      <div class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-md transform hover:-translate-y-1 transition-all duration-200">
        <div class="m-3">
          <h2 class="text-lg mb-2 text-amber-500">Tenses 筆記
         <span class="text-sm text-zinc-800 font-mono bg-amber-200 inline rounded-full px-2 align-top float-right animate-pulse">Tag</span></h2>
        <p class="font-semibold font-mono text-sm text-gray-200 hover:text-amber-200 transition-all duration-200 my-4">
            一份筆記幫你一次過學齊 DSE 要知道的7種重要時態 ‼️ 搞唔清楚作文應該用咩 tenses , 呢份筆記可以幫到你🤩
        </p>
        </div>
      </div>
    
    </div>
     
</section>

{% endblock %}
