{% extends "base/base_generic.html" %}


{% block content %}
    <section class="grid place-items-center text-center py-6">
         <p class="text-sm">本站正進行重建，好快會以新面貌登場</p>
         <p class="text-sm">詳情請留意我哋嘅 IG 動向 👇🏼</p>
    </section>
 
    <section class="max-w-xl m-auto w-full">
        <a href="https://www.instagram.com/hk.starchaser/" target="_blank" class="relative flex justify-center items-center rounded-full mb-6 bg-zinc-900 hover:bg-zinc-500 w-96 h-14 animate-fade-in-down">
            <i class="fa-brands fa-instagram fa-lg absolute left-4"></i>
            <span class="">Instagram 專頁</span>
        </a>
        <a href="https://www.instagram.com/hk.starchaser/" target="_blank" class="relative flex justify-center items-center rounded-full bg-zinc-900 hover:bg-zinc-500 w-96 h-14 animate-fade-in-down">
            <i class="fa-solid fa-book fa-lg absolute left-4"></i>
            <span class="">免費英文筆記</span>
        </a>

    </section>

{% endblock %}