{% extends "base/base_generic.html" %}
{% load static %}


{% block content %}
<main class="max-w-4xl m-auto p-3">
    <section class="grid place-items-center text-center py-12">
        <img src='{% static "images/default.png" %}' alt="StarChaser Icon" class="rounded-full w-32 h-32 my-6"> 
        <h1 class="text-3xl mb-6">DSE StarChaser</h1>
        <h2 class="text-md">你的線上英文DSE學習伙伴</h2>
        <p class="text-sm mt-2">本站正進行重建，好快會以新面貌登場</p>
         <p class="text-sm">詳情請留意我哋嘅 IG 動向 👇🏼</p>
    </section>
    <section class="max-w-xl m-auto w-full">
        <a href="https://www.instagram.com/hk.starchaser/" target="_blank" class="relative flex justify-center items-center rounded-full mb-6 bg-zinc-900 hover:bg-zinc-500 w-96 h-14">
            <i class="fa-brands fa-instagram fa-lg absolute left-4"></i>
            <span class="">Instagram 專頁</span>
        </a>
        <a href="https://www.instagram.com/hk.starchaser/" target="_blank" class="relative flex justify-center items-center rounded-full bg-zinc-900 hover:bg-zinc-500 w-96 h-14">
            <i class="fa-solid fa-book fa-lg absolute left-4"></i>
            <span class="">免費英文筆記</span>
        </a>

    </section>



</main>


{% endblock %}