{% extends "base.html" %}
{% block subtitle %}登入{% endblock %}

{% block content %}
    <section id="banner">
        <section id="login">
            <h3>登入</h3>
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form }}
            <div class="col-6 col-12-narrower">
                <ul class="actions">
                    <li>
                        <input type="submit" value="登入" />
                    </li>
                </ul>
            </div>
        </form>
        </section>
    </section>

{% endblock %}