{% extends "base.html" %}
{% block subtitle %}登入{% endblock %}

{% block content %}
    <section id="main" class="container">
        <header>
            <h2>StarChaser</h2>
            <p>踏上你的摘星之路</p>
        </header>
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <h3>登入</h3>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form }}
                        <div class="mt-2">
                            <p>
                                沒有帳號？ <a href="{% url 'register' %}">馬上註冊 </a>
                            </p>
                        </div>                        
                        <div class="col-6 col-12-narrower mt-2">
                            <ul class="actions">
                                <li>
                                    <input type="submit" value="登入" />
                                </li>
                            </ul>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>

{% endblock %}