{% extends "base.html" %}
{% block subtitle %}登入{% endblock %}

{% block content %}
    <section id="main" class="container">
        <header>
            <h2>StarChaser | 網站日誌 </h2>
            <p>一起踏上摘星之路</p>
        </header>
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <h3>網站日誌還在建設中...</h3>
                    <p>敬請期待😚</p>
                    <hr>
                </section>
            </div>
        </div>
    </section>

{% endblock %}