{% extends "base.html" %}
{% load static %}
<!-- Subtitle -->
{% block subtitle %} Home {% endblock subtitle %}

<!-- Content -->
{% block content %}
<section id="banner" class="full-screen">
  <h2>StarChaser</h2>
  <p>
    為你而設的補習平台
  </p>
  <ul class="actions special stacked">
    <li>
      <a href="{% url 'register' %}" class="button primary">
        加入我們
      </a>
    </li>
    {% if user.is_authenticated %}
    <li>
      <a href="{% url 'case' %}" class="button">
        踏上星途
      </a>
    </li>
    {% endif %}
    <li>
      <a href=" {% url 'about' %}" class="button">
        了解更多
      </a>
    </li>
    <li>
      <a href="{% url 'resource' %}" class="button">
        學習資源
      </a>
    </li>
    <li>
      <a href="{% url 'blog' %}" class="button">
        追星日誌
      </a>
    </li>
  </ul>
</section>
{% endblock content %}
