{% extends "base.html" %}
{% block subtitle %}登入{% endblock %}

{% block content %}
    <section id="main" class="container">
        <header>
            <h2>StarChaser | 學習資源 </h2>
            <p>摘星之路上你並不孤單</p>
        </header>
        <div class="row">
            <div class="col-12">
                <section class="box">
                    <h3>資源即將開放下載...</h3>
                    <p>敬請期待😚</p>
                    <hr>
                </section>
            </div>
        </div>
    </section>

{% endblock %}