{% extends "base.html" %}
{% load static %}
<!-- Subtitle -->
{% block subtitle %} 會員升級 {% endblock subtitle %}

<!-- Content -->
{% block content %}

<section id="main" class="container">
  <div class="p-1">
      <h2>⭐️  成為星級會員 ⭐️</h2>
      <section class="box">
        <div class="row">
          <div class="col-12-narrower">
            <h3>星級會員月費：<span class="text-danger">$68 HKD</span></h3>
            <h3>付款方法</h3>
            <h3>FPS: +852-52851735</h3>
            <br />
            <h4>* 用 FPS 付款時請在備註寫下你 Profile 入面填寫的電話號碼/ 用户名去方便我們核實，並且需要以 <a class="text-bold text-danger" href="https://api.whatsapp.com/send?phone=85263520220&text=哈囉，我入咗數想成為星級會員" target="_blank"> WhatsApp </a>聯絡我們去幫你升級成為星級會員</h4>

          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12-narrower">
                <h3>線上付款</h3>
                <a href="#" class="button special" id="payment-btn">
                     按此付款
                </a>
            </div>
        </div>
      </section>
  </div>

</section>


{% endblock content %}